
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

header{
    text-align: center;
}

input[type="text"]{
    height:40px;
    font-size: 20px;
}
#rowDiv{
    margin: auto;
    text-align: center;
    width: 100%;
}
#submitWeather{
    height: 40px;
    font-size: 20px;
    font-weight: bold;

}

#show{
    margin: auto;
    width: 60%;
}
footer{
    text-align: end;
    font-size: 20px;
}
