
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}

header{
    text-align: center;
}

input[type="text"]{
    height:40px;
    font-size: 20px;
}


#submitWeather{
    height: 40px;
    font-size: 20px;
    font-weight: bold;

}
#submitFiveDay{
    height: 40px;
    font-size: 20px;
    font-weight: bold;

}

.content-box2 {
    text-align: left;
    width: 380px;
    height: auto;
    padding: 10px;
    border: 8px solid blue;
    background: rgb(68, 182, 202);
  }
.content-box{
    text-align: left;
    width: 380px;
    height: auto;
    padding: 10px;
    border: 8px solid blue;
    background: rgb(68, 182, 202);
    margin-bottom: 60px;

}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    color: blue;
     text-align: center;
 }
